
:root{
    --length1: 60px;
    --r1: 10px;
    --r1-x: 25px;
    --r2: 35px;
}

header{
    width: 100vw;
    height: 10dvh;
    padding: 10px 20px 10px 20px;
    background-color: inherit;
    border-bottom: 1px solid var(--footer-clr-medium);

    & .search-bar{
        position: relative;
        background-color: transparent;

        & .input-space{
            width: 80%;
            height: var(--length1);
            height: 45px;
            border-radius: var(--r2);
            background-color: rgb(19, 19, 19);
            border: 1px solid var(--dark-green);

            @media (width > 1000px) {
                margin-left: 5rem;
                width: calc(80% - 5rem);
            }

            & input{
                position: relative;
                width: 100%;
                height: 100%;
                border: none;
                color: inherit;
                font-size: 1rem;
                font-family: poppins, sans-serif;
                margin-left: 0;
            }
        }

        & .search-icon{
            width: 45px;
            height: 45px;
            border-radius: var(--r1-x);
            background-color: var(--notice-clr-green-500);

            @media (width > 1000px) {
                margin-right: 5rem;
            }

            & img{
                width: 30px;
                height: 30px;
            }
        }
    }
}