:root{
    --length2: 60px;
    --length2s: 35px;
    --length3: calc(var(--length2) + 20px);
    --r0: 5px;
    --r1: 10px;
    --r1-x: 25px;
    --r2: 35px;
}

footer{
    width: 100vw;
    height: 10dvh;
    padding: 15px;
    /* padding-top: 25px; */
    /* padding-bottom: 5px; */

    & .footer-container{
        padding-left: 10px;
        padding-right: 10px;
        background-color: var(--footer-clr);
        border-radius: 15px;

        & .options{
            width: var(--length3);
            height: var(--length2);
            border-radius: var(--r2);
            background-color: transparent;

            & img{
                width: var(--length2s);
                height: var(--length2s);
            }
        }
    }
}