.hidden {
  display: none !important;
}

.visible {
  display: flex;
  position: relative;
}

:root {
  --menu-clr: #dcedc8;
}
.menu_activated {
  background-color: var(--menu-clr) !important;
  & img {
    filter: contrast(1);
  }
}
